
            /*Fonts*/


@font-face{
    font-family: roboto-black;
    src: url(../fonts/roboto/roboto-black.ttf);
}
@font-face{
    font-family: roboto-blackitalic;
    src: url(fonts/roboto/roboto-blackitalic.ttf);
}
@font-face{
    font-family: roboto-bold;
    src: url(fonts/roboto/roboto-bold.ttf);
}
@font-face{
    font-family: roboto-bolditalic;
    src: url(fonts/roboto/roboto-bolditalic.ttf);
}
@font-face{
    font-family: roboto-italic;
    src: url(fonts/roboto/roboto-italic.ttf);
}
@font-face{
    font-family: roboto-light;
    src: url(fonts/roboto/roboto-light.ttf);
}
@font-face{
    font-family: roboto-lightitalic;
    src: url(fonts/roboto/roboto-lightitalic.ttf);
}
@font-face{
    font-family: roboto-medium;
    src: url(fonts/roboto/roboto-medium.ttf);
}
@font-face{
    font-family: roboto-mediumitalic;
    src: url(fonts/roboto/roboto-mediumitalic.ttf);
}
@font-face{
    font-family: roboto-regular;
    src: url(fonts/roboto/roboto-regular.ttf);
}
@font-face{
    font-family: roboto-thin;
    src: url(fonts/roboto/roboto-thin.ttf);
}
@font-face{
    font-family: roboto-thinitalic;
    src: url(fonts/roboto/roboto-thinitalicegular.ttf);
}

                      /*  Default html tag  styling*/
h2{
    font-family: roboto-black;
}
input{
    font-family: roboto-black;
    font-size: 16px;
}


.brandGradient{
    background: linear-gradient(135.76deg, #452ADD 7.5%, #602add 88.59%);
    }
    
    /*The image of the client logo TBD as we have no logo*/
    .brandLogo{
      /*  background -image: url(“TBD CLIENT”); */
    }
    
    /*The image of the POS logo TBD as we have no logo*/
    .brandLogo{
    /*background -image: url(“TBD POS”); */
    }
    
    /*The brand color of the client*/
    .brandColor{
        Color: #FF0F7B;
    }
    
    /*Universal drop shadow to keep everything consistent*/
    .dropShadow{
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.06);
    }
    
    /*Things for the right*/
    .rightSideLogin{
        position: fixed;
        width: 50%;
        height: 100%;
        left: 50%;
        top: 0px;
    }

    /* Spacing and setting for the left side of screen */
    .leftSideLogin{
        position: fixed;
        width: 50%;
        height: 100%;
        top: 0px;
        
    }
    
    /*Makes things center*/
    .center {
        margin: auto;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -40%);
        transform: translate(-40%, -60%);
      }
    
      #banner {
        width: 100%;
        height: 100px;
        text-align: center;
        background: linear-gradient(135.76deg, #452ADD 7.5%, #602add 88.59%);
      }
      #banner h1 {
        color: white;
        margin: 0;
        padding-top: 30px;
      }
    #ip1 {      /* Input for Username */
        font-family: roboto-black;
        width: 290px;
        height: 43px;
        left: 158px;
        top: 436px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.25);
        border-radius: 50px; 
        color:#3e3e3e;


    }
    #ip2 {  /* Input for Password */
        font-family: roboto-black;
        width: 290px;
        height: 43px;
        left: 158px;
        top: 502px;
        color:#3e3e3e;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
    }
    #ip3 {  /* Input for Submit button */
        font-family: roboto-black;
        width: 130px;
        height: 43px;
        left: 158px;
        top: 572px;
        color: white;
        background: linear-gradient(135.76deg, #452ADD 7.5%, #602add 88.59%);
        box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.25);
        border-radius: 50px; 
        font-size: 20px;
    }


    .posText{ /* Style for Where it says "interim Pos" */
        font-family: roboto-black;
        position:relative;
        font-style: normal;
        font-size: 300%;
        line-height: 20px;
        color: #FFFFFF;
        
    }
    
    .loginWord{ /* Style for Where it says "LOGIN"*/
        font-family: roboto-black;
        width: 451px;
        height: 41px;
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 75px;
        background-color: linear-gradient(135.76deg, #452ADD 7.5%, #602add 88.59%) ;
        }

    .companyText{   /* Style for Where it says "HVAV" */
        font-family: roboto-black;
        position: relative;
        font-style: normal;
        font-size: 450%;
        line-height: 20px;
        color: #FFFFFF;
    }
